NodeRedFlows/TempControlNR_05112022.json
[
    {
        "id": "ddbbf6bb42548c8f",
        "type": "tab",
        "label": "Temp. Control",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1d53151d5a4aa609",
        "type": "mqtt in",
        "z": "ddbbf6bb42548c8f",
        "name": "",
        "topic": "esp32/temperature",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "9f529cf8a2175817",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 60,
        "wires": [
            [
                "84fd4563aa07d2ed"
            ]
        ]
    },
    {
        "id": "84fd4563aa07d2ed",
        "type": "function",
        "z": "ddbbf6bb42548c8f",
        "name": "DB Insert",
        "func": "let temp1=msg.payload[0].temp1;\nlet temp2=msg.payload[1].temp2;\nlet temp3=msg.payload[2].temp3;\nlet temp4=msg.payload[3].temp4;\nlet temp5=msg.payload[4].temp5;\nlet temp6=msg.payload[5].temp6;\nflow.set(\"temp1\", msg.payload[0].temp1);\nflow.set(\"temp2\", msg.payload[1].temp2);\nflow.set(\"temp3\", msg.payload[2].temp3);\nflow.set(\"temp4\", msg.payload[3].temp4);\nflow.set(\"temp5\", msg.payload[4].temp5);\nflow.set(\"temp6\", msg.payload[5].temp6);\nmsg.topic = \"insert into tempControlDevice (temp1,temp2,temp3,temp4,temp5,temp6) \\\nvalues ('\" + temp1 + \"',\" + temp2 + \",\" + temp3 + \",\" + temp4 + \",\" + temp5 + \",\" + temp6 + \")\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 60,
        "wires": [
            [
                "34317140a0d3bd7f"
            ]
        ]
    },
    {
        "id": "b9685a780f81ead7",
        "type": "mqtt out",
        "z": "ddbbf6bb42548c8f",
        "name": "Machine Command",
        "topic": "",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9f529cf8a2175817",
        "x": 550,
        "y": 460,
        "wires": []
    },
    {
        "id": "e80889e0a179da37",
        "type": "function",
        "z": "ddbbf6bb42548c8f",
        "name": "St. 1 State",
        "func": "msg.topic = \"esp32/st1\"\nif (msg.payload == true ) {\n    msg.payload = \"ON\"\n    flow.set(\"st1Stat\", \"ON\");\n    flow.set(\"st1\", \"ON\");\n    return msg;\n} else if (msg.payload == false) {\n    msg.payload = \"OFF\"\n    flow.set(\"st1Stat\", \"OFF\");\n    flow.set(\"st1\", \"OFF\");\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 300,
        "wires": [
            [
                "b9685a780f81ead7",
                "46b64a7a5cab79e3"
            ]
        ]
    },
    {
        "id": "69899816d075fe64",
        "type": "function",
        "z": "ddbbf6bb42548c8f",
        "name": "St. 2 State",
        "func": "msg.topic = \"esp32/st2\"\nif (msg.payload == true ) {\n    msg.payload = \"ON\"\n    flow.set(\"st2Stat\", \"ON\");\n    flow.set(\"st2\", \"ON\");\n    return msg;\n} else if (msg.payload == false) {\n    msg.payload = \"OFF\"\n    flow.set(\"st2Stat\", \"OFF\");\n    flow.set(\"st2\", \"OFF\");\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 360,
        "wires": [
            [
                "b9685a780f81ead7",
                "b19fa4e462190c3b"
            ]
        ]
    },
    {
        "id": "34285c10d0dc5488",
        "type": "function",
        "z": "ddbbf6bb42548c8f",
        "name": "St. 3 State",
        "func": "msg.topic = \"esp32/st3\"\nif (msg.payload == true ) {\n    msg.payload = \"ON\"\n    flow.set(\"st3Stat\", \"ON\");\n    flow.set(\"st3\", \"ON\");\n    return msg;\n} else if (msg.payload == false) {\n    msg.payload = \"OFF\"\n    flow.set(\"st3Stat\", \"OFF\");\n    flow.set(\"st3\", \"OFF\");\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 440,
        "wires": [
            [
                "b9685a780f81ead7",
                "2f5693b2c6ecfd0c"
            ]
        ]
    },
    {
        "id": "711cd53522545b14",
        "type": "function",
        "z": "ddbbf6bb42548c8f",
        "name": "St. 4 State",
        "func": "msg.topic = \"esp32/st4\"\nif (msg.payload == true ) {\n    msg.payload = \"ON\"\n    flow.set(\"st4Stat\", \"ON\");\n    flow.set(\"st4\", \"ON\");\n    return msg;\n} else if (msg.payload == false) {\n    msg.payload = \"OFF\"\n    flow.set(\"st4Stat\", \"OFF\");\n    flow.set(\"st4\", \"OFF\");\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 520,
        "wires": [
            [
                "b9685a780f81ead7",
                "12b57cba3138fdbe"
            ]
        ]
    },
    {
        "id": "68a6724cc97bc880",
        "type": "function",
        "z": "ddbbf6bb42548c8f",
        "name": "St. 5 State",
        "func": "msg.topic = \"esp32/st5\"\nif (msg.payload == true ) {\n    msg.payload = \"ON\"\n    flow.set(\"st5Stat\", \"ON\");\n    flow.set(\"st5\", \"ON\");\n    return msg;\n} else if (msg.payload == false) {\n    msg.payload = \"OFF\"\n    flow.set(\"st5Stat\", \"OFF\");\n    flow.set(\"st5\", \"OFF\");\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 600,
        "wires": [
            [
                "b9685a780f81ead7",
                "79d6f525ea750b99"
            ]
        ]
    },
    {
        "id": "eb9229c4f8244ad2",
        "type": "function",
        "z": "ddbbf6bb42548c8f",
        "name": "St. 6 State",
        "func": "msg.topic = \"esp32/st6\"\nif (msg.payload == true ) {\n    msg.payload = \"ON\"\n    flow.set(\"st6Stat\", \"ON\");\n    flow.set(\"st6\", \"ON\");\n    return msg;\n} else if (msg.payload == false) {\n    msg.payload = \"OFF\"\n    flow.set(\"st6Stat\", \"OFF\");\n    flow.set(\"st6\", \"OFF\");\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 680,
        "wires": [
            [
                "b9685a780f81ead7",
                "eb7e9970a113bcd2"
            ]
        ]
    },
    {
        "id": "9ac674f273996a1d",
        "type": "function",
        "z": "ddbbf6bb42548c8f",
        "name": "Monitor State - Digital Temp Control",
        "func": "if (flow.get(\"st1Stat\") == \"ON\" || flow.get(\"st2Stat\") == \"ON\" ||\n    flow.get(\"st3Stat\") == \"ON\" || flow.get(\"st4Stat\") == \"ON\" ||\n    flow.get(\"st5Stat\") == \"ON\" || flow.get(\"st6Stat\") == \"ON\" ){\n    // msg.payload = \"NYALA WOI\"\n    msg.payload = \"OFF\"\n    msg.topic = \"esp32/digitalTempControl\"\n\n    return msg;\n} else {\n    // msg.payload = \"MATI WOOIOIOOIO\";\n    msg.payload = \"ON\"\n    msg.topic = \"esp32/digitalTempControl\";\n    return msg\n    }",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 60,
        "wires": [
            [
                "3a014da0dcf61b2e"
            ]
        ]
    },
    {
        "id": "58c5e92e345f6aed",
        "type": "inject",
        "z": "ddbbf6bb42548c8f",
        "name": "Loop 1s",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 800,
        "y": 80,
        "wires": [
            [
                "647a883338b09ed8",
                "d426eb9c95074b77",
                "92b9a784673bf729",
                "5dc5594f3a2802f4",
                "f7d0dadb5e01b541",
                "b6f4783e19bca840"
            ]
        ]
    },
    {
        "id": "3a014da0dcf61b2e",
        "type": "mqtt out",
        "z": "ddbbf6bb42548c8f",
        "name": "Machine Command",
        "topic": "",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9f529cf8a2175817",
        "x": 1310,
        "y": 220,
        "wires": []
    },
    {
        "id": "647a883338b09ed8",
        "type": "function",
        "z": "ddbbf6bb42548c8f",
        "name": "St1 Monitor Temp",
        "func": "// Heater 1\nif (flow.get(\"st1Stat\") == \"ON\")\n{\n    if (flow.get(\"temp1\") >= flow.get(\"st1Max\") && flow.get(\"st1\") == \"ON\" ) {\n    msg.payload = \"OFF\"\n    msg.topic = \"esp32/st1\"\n    flow.set(\"st1\", \"OFF\");\n    return msg;\n\n}\n    if ((flow.get(\"temp1\") <= flow.get(\"st1Min\") || flow.get(\"temp1\") <= flow.get(\"st1Max\")) && (flow.get(\"st1\") == \"OFF\")) {\n    msg.payload = \"ON\"\n    msg.topic = \"esp32/st1\"\n    flow.set(\"st1\", \"ON\");\n    return msg;\n\n}\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 120,
        "wires": [
            [
                "3a014da0dcf61b2e"
            ]
        ]
    },
    {
        "id": "d426eb9c95074b77",
        "type": "function",
        "z": "ddbbf6bb42548c8f",
        "name": "St2 Monitor Temp",
        "func": "if (flow.get(\"st2Stat\") == \"ON\")\n{\n    if (flow.get(\"temp2\") >= flow.get(\"st2Max\") && flow.get(\"st2\") == \"ON\") {\n    msg.payload = \"OFF\"\n    msg.topic = \"esp32/st2\"\n    flow.set(\"st2\", \"OFF\");\n    return msg;\n\n}\n    if ((flow.get(\"temp2\") <= flow.get(\"st2Min\") || flow.get(\"temp2\") <= flow.get(\"st2Max\")) && (flow.get(\"st2\") == \"OFF\")) {\n    msg.payload = \"ON\"\n    msg.topic = \"esp32/st2\"\n    flow.set(\"st2\", \"ON\");\n    return msg;\n\n}\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 160,
        "wires": [
            [
                "3a014da0dcf61b2e"
            ]
        ]
    },
    {
        "id": "6cbdeab740dc187d",
        "type": "function",
        "z": "ddbbf6bb42548c8f",
        "name": "Monitor Stat - Safety",
        "func": "if (flow.get(\"st1Stat\") == \"OFF\" && flow.get(\"st1\") == \"ON\") {\n    msg.topic = \"esp32/st1\"\n    msg.payload = \"OFF\"\n    flow.set(\"st1\", \"OFF\");\n\n    return msg;\n}\nif (flow.get(\"st2Stat\") == \"OFF\" && flow.get(\"st2\") == \"ON\")\n{\n    msg.topic = \"esp32/st2\"\n    msg.payload = \"OFF\"\n    flow.set(\"st2\", \"OFF\");\n\n    return msg;\n}\nif (flow.get(\"st3Stat\") == \"OFF\" && flow.get(\"st3\") == \"ON\") {\n    msg.topic = \"esp32/st3\"\n    msg.payload = \"OFF\"\n    flow.set(\"st3\", \"OFF\");\n\n    return msg;\n}\nif (flow.get(\"st4Stat\") == \"OFF\" && flow.get(\"st4\") == \"ON\") {\n    msg.topic = \"esp32/st4\"\n    msg.payload = \"OFF\"\n    flow.set(\"st4\", \"OFF\");\n\n    return msg;\n}\nif (flow.get(\"st5Stat\") == \"OFF\" && flow.get(\"st5\") == \"ON\") {\n    msg.topic = \"esp32/st5\"\n    msg.payload = \"OFF\"\n    flow.set(\"st5\", \"OFF\");\n\n    return msg;\n}\nif (flow.get(\"st6Stat\") == \"OFF\" && flow.get(\"st6\") == \"ON\") {\n    msg.topic = \"esp32/st6\"\n    msg.payload = \"OFF\"\n    flow.set(\"st6\", \"OFF\");\n\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 200,
        "wires": [
            [
                "59b0363b5d4652c7"
            ]
        ]
    },
    {
        "id": "83f924b452775bb9",
        "type": "inject",
        "z": "ddbbf6bb42548c8f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "6cbdeab740dc187d"
            ]
        ]
    },
    {
        "id": "59b0363b5d4652c7",
        "type": "mqtt out",
        "z": "ddbbf6bb42548c8f",
        "name": "Machine Command",
        "topic": "",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9f529cf8a2175817",
        "x": 450,
        "y": 240,
        "wires": []
    },
    {
        "id": "35a8a1322847c614",
        "type": "mqtt out",
        "z": "ddbbf6bb42548c8f",
        "name": "",
        "topic": "esp32/calibtest",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9f529cf8a2175817",
        "x": 1220,
        "y": 1060,
        "wires": []
    },
    {
        "id": "92b9a784673bf729",
        "type": "function",
        "z": "ddbbf6bb42548c8f",
        "name": "St3 Monitor Temp",
        "func": "if (flow.get(\"st3Stat\") == \"ON\")\n{\nif (flow.get(\"temp3\") >= flow.get(\"st3Max\") && flow.get(\"st3\") == \"ON\") {\n    msg.payload = \"OFF\"\n    msg.topic = \"esp32/st3\"\n    flow.set(\"st3\", \"OFF\");\n    return msg;\n\n}\n    if ((flow.get(\"temp3\") <= flow.get(\"st3Min\") || flow.get(\"temp3\") <= flow.get(\"st3Max\")) && (flow.get(\"st3\") == \"OFF\")) {\n    msg.payload = \"ON\"\n    msg.topic = \"esp32/st3\"\n    flow.set(\"st3\", \"ON\");\n    return msg;\n\n}\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 200,
        "wires": [
            [
                "3a014da0dcf61b2e"
            ]
        ]
    },
    {
        "id": "5dc5594f3a2802f4",
        "type": "function",
        "z": "ddbbf6bb42548c8f",
        "name": "St4 Monitor Temp",
        "func": "if (flow.get(\"st4Stat\") == \"ON\")\n{\nif (flow.get(\"temp4\") >= flow.get(\"st4Max\") && flow.get(\"st4\") == \"ON\") {\n    msg.payload = \"OFF\"\n    msg.topic = \"esp32/st4\"\n    flow.set(\"st4\", \"OFF\");\n    return msg;\n\n}\n    if ((flow.get(\"temp4\") <= flow.get(\"st4Min\") || flow.get(\"temp4\") <= flow.get(\"st4Max\")) && (flow.get(\"st4\") == \"OFF\")) {\n    msg.payload = \"ON\"\n    msg.topic = \"esp32/st4\"\n    flow.set(\"st4\", \"ON\");\n    return msg;\n\n}\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 240,
        "wires": [
            [
                "3a014da0dcf61b2e"
            ]
        ]
    },
    {
        "id": "b6f4783e19bca840",
        "type": "function",
        "z": "ddbbf6bb42548c8f",
        "name": "St5 Monitor Temp",
        "func": "if (flow.get(\"st5Stat\") == \"ON\")\n{\nif (flow.get(\"temp5\") >= flow.get(\"st5Max\") && flow.get(\"st5\") == \"ON\") {\n    msg.payload = \"OFF\"\n    msg.topic = \"esp32/st5\"\n    flow.set(\"st5\", \"OFF\");\n    return msg;\n\n}\n    if ((flow.get(\"temp5\") <= flow.get(\"st5Min\") || flow.get(\"temp5\") <= flow.get(\"st5Max\")) && (flow.get(\"st5\") == \"OFF\")) {\n    msg.payload = \"ON\"\n    msg.topic = \"esp32/st5\"\n    flow.set(\"st5\", \"ON\");\n    return msg;\n\n}\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 280,
        "wires": [
            [
                "3a014da0dcf61b2e"
            ]
        ]
    },
    {
        "id": "f7d0dadb5e01b541",
        "type": "function",
        "z": "ddbbf6bb42548c8f",
        "name": "St6 Monitor Temp",
        "func": "if (flow.get(\"st6Stat\") == \"ON\")\n{\nif (flow.get(\"temp6\") >= flow.get(\"st6Max\") && flow.get(\"st6\") == \"ON\") {\n    msg.payload = \"OFF\"\n    msg.topic = \"esp32/st6\"\n    flow.set(\"st6\", \"OFF\");\n    return msg;\n\n}\n    if ((flow.get(\"temp6\") <= flow.get(\"st6Min\") || flow.get(\"temp6\") <= flow.get(\"st6Max\")) && (flow.get(\"st6\") == \"OFF\")) {\n    msg.payload = \"ON\"\n    msg.topic = \"esp32/st6\"\n    flow.set(\"st6\", \"ON\");\n    return msg;\n\n}\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 320,
        "wires": [
            [
                "3a014da0dcf61b2e"
            ]
        ]
    },
    {
        "id": "7b479c509dd9c61b",
        "type": "ui_form",
        "z": "ddbbf6bb42548c8f",
        "name": "Form Inputan Heater 3",
        "label": "ヒーター設定 3",
        "group": "5533b603824c0959",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "設定温度以下",
                "value": "minTemp3",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "設定温度以上",
                "value": "maxTemp3",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "minTemp3": "",
            "maxTemp3": ""
        },
        "payload": "",
        "submit": "設定",
        "cancel": "キャンセル",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": true,
        "className": "",
        "x": 109,
        "y": 1241,
        "wires": [
            [
                "6a16ab9da74d9529",
                "16b58081b84c8f89",
                "35a8a1322847c614",
                "fa28c94dbc64b773"
            ]
        ]
    },
    {
        "id": "b23fa9b76e9aa71c",
        "type": "ui_form",
        "z": "ddbbf6bb42548c8f",
        "name": "Form Inputan Heater 6",
        "label": "ヒーター設定 6",
        "group": "5533b603824c0959",
        "order": 8,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "設定温度以下",
                "value": "minTemp6",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "設定温度以上",
                "value": "maxTemp6",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "minTemp6": "",
            "maxTemp6": ""
        },
        "payload": "",
        "submit": "設定",
        "cancel": "キャンセル",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": true,
        "className": "",
        "x": 729,
        "y": 1241,
        "wires": [
            [
                "ffa43df1a4cd6289",
                "01d1f9725ca29e65",
                "35a8a1322847c614",
                "5f61eff73e416ecb"
            ]
        ]
    },
    {
        "id": "c79822dfbdad737e",
        "type": "ui_form",
        "z": "ddbbf6bb42548c8f",
        "name": "Form Inputan Heater 2",
        "label": "ヒーター設定 2",
        "group": "04accf189f335271",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "設定温度以下",
                "value": "minTemp2",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "設定温度以上",
                "value": "maxTemp2",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "minTemp2": "",
            "maxTemp2": ""
        },
        "payload": "",
        "submit": "設定",
        "cancel": "キャンセル",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": true,
        "className": "",
        "x": 129,
        "y": 1061,
        "wires": [
            [
                "074483d237c9798c",
                "ac57351294ceb169",
                "35a8a1322847c614",
                "a0ed0249c6530a05"
            ]
        ]
    },
    {
        "id": "24f1d124ebc6cb19",
        "type": "ui_form",
        "z": "ddbbf6bb42548c8f",
        "name": "Form Inputan Heater 4",
        "label": "ヒーター設定 4",
        "group": "357ad3e381ca0a52",
        "order": 8,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "設定温度以下",
                "value": "minTemp4",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "設定温度以上",
                "value": "maxTemp4",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "minTemp4": "",
            "maxTemp4": ""
        },
        "payload": "",
        "submit": "設定",
        "cancel": "キャンセル",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": true,
        "className": "",
        "x": 709,
        "y": 961,
        "wires": [
            [
                "16a68097a719e1ca",
                "7ad31b2dfcdb7c11",
                "35a8a1322847c614",
                "d1aaefcf9bc960c7"
            ]
        ]
    },
    {
        "id": "e0169467139a542d",
        "type": "ui_form",
        "z": "ddbbf6bb42548c8f",
        "name": "Form Inputan Heater 5",
        "label": "ヒーター設定 5",
        "group": "04accf189f335271",
        "order": 8,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "設定温度以下",
                "value": "minTemp5",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "設定温度以上",
                "value": "maxTemp5",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "minTemp5": "",
            "maxTemp5": ""
        },
        "payload": "",
        "submit": "設定",
        "cancel": "キャンセル",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": true,
        "className": "",
        "x": 709,
        "y": 1101,
        "wires": [
            [
                "5efb497d1c476786",
                "2f6217cb9813e70e",
                "35a8a1322847c614",
                "3092b457fedf68f5"
            ]
        ]
    },
    {
        "id": "6ef5c8842e32e5e8",
        "type": "ui_form",
        "z": "ddbbf6bb42548c8f",
        "name": "Form Inputan Heater 1",
        "label": "ヒーター設定 1",
        "group": "357ad3e381ca0a52",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "設定温度以下",
                "value": "minTemp1",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "設定温度以上",
                "value": "maxTemp1",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "minTemp1": "",
            "maxTemp1": ""
        },
        "payload": "",
        "submit": "設定",
        "cancel": "キャンセル",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": true,
        "className": "",
        "x": 120,
        "y": 960,
        "wires": [
            [
                "6e5c6be4b1e481db",
                "6fe5b3aaaba64bd4",
                "35a8a1322847c614",
                "38c147ef8b9b716e"
            ]
        ]
    },
    {
        "id": "6a16ab9da74d9529",
        "type": "ui_text",
        "z": "ddbbf6bb42548c8f",
        "group": "5533b603824c0959",
        "order": 3,
        "width": "3",
        "height": "1",
        "name": "St3 Max Temp",
        "label": "設定温度以上",
        "format": "{{msg.payload.maxTemp3}}",
        "layout": "col-center",
        "className": "",
        "x": 329,
        "y": 1241,
        "wires": []
    },
    {
        "id": "16b58081b84c8f89",
        "type": "ui_text",
        "z": "ddbbf6bb42548c8f",
        "group": "5533b603824c0959",
        "order": 2,
        "width": "3",
        "height": "1",
        "name": "St3 Min Temp",
        "label": "設定温度以下",
        "format": "{{msg.payload.minTemp3}}",
        "layout": "col-center",
        "className": "",
        "x": 329,
        "y": 1281,
        "wires": []
    },
    {
        "id": "ffa43df1a4cd6289",
        "type": "ui_text",
        "z": "ddbbf6bb42548c8f",
        "group": "5533b603824c0959",
        "order": 9,
        "width": "3",
        "height": "1",
        "name": "St6 Max Temp",
        "label": "設定温度以上",
        "format": "{{msg.payload.maxTemp6}}",
        "layout": "col-center",
        "className": "",
        "x": 949,
        "y": 1241,
        "wires": []
    },
    {
        "id": "01d1f9725ca29e65",
        "type": "ui_text",
        "z": "ddbbf6bb42548c8f",
        "group": "5533b603824c0959",
        "order": 10,
        "width": "3",
        "height": "1",
        "name": "St6 Min Temp",
        "label": "設定温度以下",
        "format": "{{msg.payload.minTemp6}}",
        "layout": "col-center",
        "className": "",
        "x": 949,
        "y": 1281,
        "wires": []
    },
    {
        "id": "074483d237c9798c",
        "type": "ui_text",
        "z": "ddbbf6bb42548c8f",
        "group": "04accf189f335271",
        "order": 3,
        "width": "3",
        "height": "1",
        "name": "St2 Max Temp",
        "label": "設定温度以上",
        "format": "{{msg.payload.maxTemp2}}",
        "layout": "col-center",
        "className": "",
        "x": 349,
        "y": 1081,
        "wires": []
    },
    {
        "id": "ac57351294ceb169",
        "type": "ui_text",
        "z": "ddbbf6bb42548c8f",
        "group": "04accf189f335271",
        "order": 2,
        "width": "3",
        "height": "1",
        "name": "St2 Min Temp",
        "label": "設定温度以下",
        "format": "{{msg.payload.minTemp2}}",
        "layout": "col-center",
        "className": "",
        "x": 349,
        "y": 1121,
        "wires": []
    },
    {
        "id": "16a68097a719e1ca",
        "type": "ui_text",
        "z": "ddbbf6bb42548c8f",
        "group": "357ad3e381ca0a52",
        "order": 10,
        "width": "3",
        "height": "1",
        "name": "St4 Max Temp",
        "label": "設定温度以上",
        "format": "{{msg.payload.maxTemp4}}",
        "layout": "col-center",
        "className": "",
        "x": 929,
        "y": 961,
        "wires": []
    },
    {
        "id": "7ad31b2dfcdb7c11",
        "type": "ui_text",
        "z": "ddbbf6bb42548c8f",
        "group": "357ad3e381ca0a52",
        "order": 9,
        "width": "3",
        "height": "1",
        "name": "St4 Min Temp",
        "label": "設定温度以下",
        "format": "{{msg.payload.minTemp4}}",
        "layout": "col-center",
        "className": "",
        "x": 929,
        "y": 1001,
        "wires": []
    },
    {
        "id": "5efb497d1c476786",
        "type": "ui_text",
        "z": "ddbbf6bb42548c8f",
        "group": "04accf189f335271",
        "order": 9,
        "width": "3",
        "height": "1",
        "name": "St5 Max Temp",
        "label": "設定温度以上",
        "format": "{{msg.payload.maxTemp5}}",
        "layout": "col-center",
        "className": "",
        "x": 929,
        "y": 1101,
        "wires": []
    },
    {
        "id": "2f6217cb9813e70e",
        "type": "ui_text",
        "z": "ddbbf6bb42548c8f",
        "group": "04accf189f335271",
        "order": 10,
        "width": "3",
        "height": "1",
        "name": "St5 Min Temp",
        "label": "設定温度以下",
        "format": "{{msg.payload.minTemp5}}",
        "layout": "col-center",
        "className": "",
        "x": 929,
        "y": 1141,
        "wires": []
    },
    {
        "id": "6e5c6be4b1e481db",
        "type": "ui_text",
        "z": "ddbbf6bb42548c8f",
        "group": "357ad3e381ca0a52",
        "order": 3,
        "width": "3",
        "height": "1",
        "name": "St1 Max Temp",
        "label": "設定温度以上",
        "format": "{{msg.payload.maxTemp1}}",
        "layout": "col-center",
        "className": "",
        "x": 340,
        "y": 960,
        "wires": []
    },
    {
        "id": "6fe5b3aaaba64bd4",
        "type": "ui_text",
        "z": "ddbbf6bb42548c8f",
        "group": "357ad3e381ca0a52",
        "order": 2,
        "width": "3",
        "height": "1",
        "name": "St1 Min Temp",
        "label": "設定温度以下",
        "format": "{{msg.payload.minTemp1}}",
        "layout": "col-center",
        "className": "",
        "x": 340,
        "y": 1000,
        "wires": []
    },
    {
        "id": "34317140a0d3bd7f",
        "type": "mysql",
        "z": "ddbbf6bb42548c8f",
        "mydb": "20ce7e720d3a27f2",
        "name": "",
        "x": 610,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "c3f5c282ace099d1",
        "type": "inject",
        "z": "ddbbf6bb42548c8f",
        "name": "Loop 10s",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 810,
        "y": 40,
        "wires": [
            [
                "9ac674f273996a1d"
            ]
        ]
    },
    {
        "id": "9b5a30b0f68d45e1",
        "type": "function",
        "z": "ddbbf6bb42548c8f",
        "name": "SaveConfig",
        "func": "let st1 = flow.get(\"st1\")\nlet st2 = flow.get(\"st2\")\nlet st3 = flow.get(\"st3\")\nlet st4 = flow.get(\"st4\")\nlet st5 = flow.get(\"st5\")\nlet st6 = flow.get(\"st6\")\nlet calibration1 = flow.get(\"calibration1\")\nlet calibration2 = flow.get(\"calibration2\")\nlet calibration3 = flow.get(\"calibration3\")\nlet calibration4 = flow.get(\"calibration4\")\nlet calibration5 = flow.get(\"calibration5\")\nlet calibration6 = flow.get(\"calibration6\")\nlet st1min = flow.get(\"st1Min\")\nlet st2min = flow.get(\"st2Min\")\nlet st3min = flow.get(\"st3Min\")\nlet st4min = flow.get(\"st4Min\")\nlet st5min = flow.get(\"st5Min\")\nlet st6min = flow.get(\"st6Min\")\nlet st1max = flow.get(\"st1Max\")\nlet st2max = flow.get(\"st2Max\")\nlet st3max = flow.get(\"st3Max\")\nlet st4max = flow.get(\"st4Max\")\nlet st5max = flow.get(\"st5Max\")\nlet st6max = flow.get(\"st6Max\")\n\nmsg.topic =\"update currentConfig \\\nset st1 = '\"+ st1 + \"',st2 = '\" + st2 + \"',st3 = '\" + st3 + \"',st4='\" + st4 + \"',st5='\" + st5 + \"',st6='\" + st6 +\"', \\\ncalibration1 = '\" + calibration1 + \"',calibration2='\" + calibration2 + \"',calibration3='\" + calibration3 + \"',calibration4='\" + calibration4 + \"',calibration5='\" + calibration5 + \"',calibration6='\" + calibration6 + \"', \\\nst1min = '\" + st1min + \"', st2min='\" + st2min + \"',st3min= '\" + st3min + \"',st4min='\" + st4min + \"',st5min='\" + st5min + \"',st6min = '\" + st6min + \"', \\\nst1max= '\" + st1max + \"',st2max='\" + st2max + \"',st3max='\" + st3max + \"',st4max='\" + st4max + \"',st5max='\" + st5max + \"',st6max='\" + st6max + \"'  \"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 380,
        "wires": [
            [
                "e85b8a771da6a102"
            ]
        ]
    },
    {
        "id": "a4dd2a052c10b939",
        "type": "inject",
        "z": "ddbbf6bb42548c8f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 850,
        "y": 380,
        "wires": [
            [
                "9b5a30b0f68d45e1"
            ]
        ]
    },
    {
        "id": "e85b8a771da6a102",
        "type": "mysql",
        "z": "ddbbf6bb42548c8f",
        "mydb": "20ce7e720d3a27f2",
        "name": "",
        "x": 1310,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "085a22846b754f44",
        "type": "ui_button",
        "z": "ddbbf6bb42548c8f",
        "name": "Turn ON Heater 1",
        "group": "357ad3e381ca0a52",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "ON",
        "tooltip": "",
        "color": "white",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "e80889e0a179da37"
            ]
        ]
    },
    {
        "id": "7b03a11e6a1c4068",
        "type": "ui_button",
        "z": "ddbbf6bb42548c8f",
        "name": "Turn OFF heater 1",
        "group": "357ad3e381ca0a52",
        "order": 5,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "OFF",
        "tooltip": "",
        "color": "white",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "e80889e0a179da37"
            ]
        ]
    },
    {
        "id": "ea78e9e90ae53695",
        "type": "ui_button",
        "z": "ddbbf6bb42548c8f",
        "name": "Show Calibration Menu",
        "group": "4e9ce00bc81d3815",
        "order": 1,
        "width": "18",
        "height": "1",
        "passthru": false,
        "label": "温度読調整",
        "tooltip": "Show Menu",
        "color": "",
        "bgcolor": "yellow",
        "className": "",
        "icon": "",
        "payload": "暗証番号入力して下さい",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 850,
        "y": 1360,
        "wires": [
            [
                "4a720db53f257edf"
            ]
        ]
    },
    {
        "id": "4a720db53f257edf",
        "type": "ui_toast",
        "z": "ddbbf6bb42548c8f",
        "position": "prompt",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "入力",
        "cancel": "キャンセル",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 830,
        "y": 1400,
        "wires": [
            [
                "d08b39f940fabb4b"
            ]
        ]
    },
    {
        "id": "884ea9a941d74e51",
        "type": "ui_form",
        "z": "ddbbf6bb42548c8f",
        "name": "Calibration Factor 1",
        "label": "温度読調整 1",
        "group": "2f3cf93878c09d49",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "温度読調整",
                "value": "calibration1",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "calibration1": ""
        },
        "payload": "",
        "submit": "設定",
        "cancel": "キャンセル",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": true,
        "className": "",
        "x": 150,
        "y": 1420,
        "wires": [
            [
                "0c785d0f9250b80d"
            ]
        ]
    },
    {
        "id": "e329e75634a1f465",
        "type": "comment",
        "z": "ddbbf6bb42548c8f",
        "name": "Calibration Page",
        "info": "",
        "x": 140,
        "y": 1380,
        "wires": []
    },
    {
        "id": "a194ea3a9614300a",
        "type": "ui_ui_control",
        "z": "ddbbf6bb42548c8f",
        "name": "",
        "events": "all",
        "x": 1300,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "d08b39f940fabb4b",
        "type": "switch",
        "z": "ddbbf6bb42548c8f",
        "name": "Check PIN",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "7981",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 990,
        "y": 1400,
        "wires": [
            [
                "6c26e7aaa5e0e307"
            ],
            []
        ]
    },
    {
        "id": "55c9f34038973fb5",
        "type": "ui_button",
        "z": "ddbbf6bb42548c8f",
        "name": "Hide Calibration Menu",
        "group": "da01e2b69ce1f8e9",
        "order": 1,
        "width": "18",
        "height": "1",
        "passthru": false,
        "label": "温度読調整",
        "tooltip": "Hide Menu",
        "color": "",
        "bgcolor": "yellow",
        "className": "",
        "icon": "",
        "payload": "{\"tabs\":{\"hide\":[\"調整\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 840,
        "y": 1460,
        "wires": [
            [
                "4f74b308875eac08"
            ]
        ]
    },
    {
        "id": "4f74b308875eac08",
        "type": "ui_ui_control",
        "z": "ddbbf6bb42548c8f",
        "name": "",
        "events": "all",
        "x": 1280,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "6c26e7aaa5e0e307",
        "type": "function",
        "z": "ddbbf6bb42548c8f",
        "name": "function 1",
        "func": "msg.payload = { \"tabs\": { \"show\": [\"調整\"] } }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 1400,
        "wires": [
            [
                "a194ea3a9614300a"
            ]
        ]
    },
    {
        "id": "0c785d0f9250b80d",
        "type": "function",
        "z": "ddbbf6bb42548c8f",
        "name": "Calibration Factor",
        "func": "flow.set(\"calibration1\", msg.payload.calibration1);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1420,
        "wires": [
            [
                "81739467809fd48b"
            ]
        ]
    },
    {
        "id": "8aa35a722dcc83ec",
        "type": "ui_form",
        "z": "ddbbf6bb42548c8f",
        "name": "Calibration Factor 2",
        "label": "温度読調整 2",
        "group": "42da17ba8f24bbcb",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "温度読調整",
                "value": "calibration2",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "calibration2": ""
        },
        "payload": "",
        "submit": "設定",
        "cancel": "キャンセル",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": true,
        "className": "",
        "x": 150,
        "y": 1460,
        "wires": [
            [
                "491cc2435b5d23e6"
            ]
        ]
    },
    {
        "id": "491cc2435b5d23e6",
        "type": "function",
        "z": "ddbbf6bb42548c8f",
        "name": "Calibration Factor",
        "func": "flow.set(\"calibration2\", msg.payload.calibration2);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1460,
        "wires": [
            [
                "81739467809fd48b"
            ]
        ]
    },
    {
        "id": "a61d3ec9e3c1cc7c",
        "type": "debug",
        "z": "ddbbf6bb42548c8f",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 1360,
        "wires": []
    },
    {
        "id": "81739467809fd48b",
        "type": "mqtt out",
        "z": "ddbbf6bb42548c8f",
        "name": "",
        "topic": "esp32/calibtest",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9f529cf8a2175817",
        "x": 620,
        "y": 1520,
        "wires": []
    },
    {
        "id": "5db281cc30af9d4f",
        "type": "ui_form",
        "z": "ddbbf6bb42548c8f",
        "name": "Calibration Factor 3",
        "label": "温度読調整 3",
        "group": "1344e9cb1ffc6b70",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "温度読調整",
                "value": "calibration3",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "calibration3": ""
        },
        "payload": "",
        "submit": "設定",
        "cancel": "キャンセル",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": true,
        "className": "",
        "x": 150,
        "y": 1500,
        "wires": [
            [
                "2d81461085e4d2b3"
            ]
        ]
    },
    {
        "id": "2d81461085e4d2b3",
        "type": "function",
        "z": "ddbbf6bb42548c8f",
        "name": "Calibration Factor",
        "func": "flow.set(\"calibration3\", msg.payload.calibration3);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1500,
        "wires": [
            [
                "81739467809fd48b"
            ]
        ]
    },
    {
        "id": "835527312a50cc57",
        "type": "ui_form",
        "z": "ddbbf6bb42548c8f",
        "name": "Calibration Factor 4",
        "label": "温度読調整 4",
        "group": "2f3cf93878c09d49",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "温度読調整",
                "value": "calibration4",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "calibration4": ""
        },
        "payload": "",
        "submit": "設定",
        "cancel": "キャンセル",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": true,
        "className": "",
        "x": 150,
        "y": 1540,
        "wires": [
            [
                "08cdacb1b8279538"
            ]
        ]
    },
    {
        "id": "08cdacb1b8279538",
        "type": "function",
        "z": "ddbbf6bb42548c8f",
        "name": "Calibration Factor",
        "func": "flow.set(\"calibration4\", msg.payload.calibration4);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1540,
        "wires": [
            [
                "81739467809fd48b"
            ]
        ]
    },
    {
        "id": "2d9dcae2f1250389",
        "type": "ui_form",
        "z": "ddbbf6bb42548c8f",
        "name": "Calibration Factor 5",
        "label": "温度読調整 5",
        "group": "42da17ba8f24bbcb",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "温度読調整",
                "value": "calibration5",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "calibration5": ""
        },
        "payload": "",
        "submit": "設定",
        "cancel": "キャンセル",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": true,
        "className": "",
        "x": 150,
        "y": 1580,
        "wires": [
            [
                "c28e737d986ad03e"
            ]
        ]
    },
    {
        "id": "c28e737d986ad03e",
        "type": "function",
        "z": "ddbbf6bb42548c8f",
        "name": "Calibration Factor",
        "func": "flow.set(\"calibration5\", msg.payload.calibration5);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1580,
        "wires": [
            [
                "81739467809fd48b"
            ]
        ]
    },
    {
        "id": "1ab2d77508a7203b",
        "type": "ui_form",
        "z": "ddbbf6bb42548c8f",
        "name": "Calibration Factor 6",
        "label": "温度読調整 6",
        "group": "1344e9cb1ffc6b70",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "温度読調整",
                "value": "calibration6",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "calibration6": ""
        },
        "payload": "",
        "submit": "設定",
        "cancel": "キャンセル",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": true,
        "className": "",
        "x": 150,
        "y": 1620,
        "wires": [
            [
                "56ebac9d8ba8d800"
            ]
        ]
    },
    {
        "id": "56ebac9d8ba8d800",
        "type": "function",
        "z": "ddbbf6bb42548c8f",
        "name": "Calibration Factor",
        "func": "flow.set(\"calibration6\", msg.payload.calibration6);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1620,
        "wires": [
            [
                "81739467809fd48b"
            ]
        ]
    },
    {
        "id": "b8f0719d73dc177f",
        "type": "ui_button",
        "z": "ddbbf6bb42548c8f",
        "name": "Turn ON Heater 2",
        "group": "04accf189f335271",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "ON",
        "tooltip": "",
        "color": "white",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "69899816d075fe64"
            ]
        ]
    },
    {
        "id": "903e4e27f568ed68",
        "type": "ui_button",
        "z": "ddbbf6bb42548c8f",
        "name": "Turn OFF heater 2",
        "group": "04accf189f335271",
        "order": 5,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "OFF",
        "tooltip": "",
        "color": "white",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "69899816d075fe64"
            ]
        ]
    },
    {
        "id": "5ce76083afda8a21",
        "type": "ui_button",
        "z": "ddbbf6bb42548c8f",
        "name": "Turn OFF heater 3",
        "group": "5533b603824c0959",
        "order": 5,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "OFF",
        "tooltip": "",
        "color": "white",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 460,
        "wires": [
            [
                "34285c10d0dc5488"
            ]
        ]
    },
    {
        "id": "2a289ccc26357c7c",
        "type": "ui_button",
        "z": "ddbbf6bb42548c8f",
        "name": "Turn ON Heater 3",
        "group": "5533b603824c0959",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "ON",
        "tooltip": "",
        "color": "white",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 420,
        "wires": [
            [
                "34285c10d0dc5488"
            ]
        ]
    },
    {
        "id": "4211d8d2366afd81",
        "type": "ui_button",
        "z": "ddbbf6bb42548c8f",
        "name": "Turn OFF heater 4",
        "group": "357ad3e381ca0a52",
        "order": 12,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "OFF",
        "tooltip": "",
        "color": "white",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 540,
        "wires": [
            [
                "711cd53522545b14"
            ]
        ]
    },
    {
        "id": "75662e08327f7299",
        "type": "ui_button",
        "z": "ddbbf6bb42548c8f",
        "name": "Turn ON Heater 4",
        "group": "357ad3e381ca0a52",
        "order": 11,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "ON",
        "tooltip": "",
        "color": "white",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 500,
        "wires": [
            [
                "711cd53522545b14"
            ]
        ]
    },
    {
        "id": "5b0be1752785e17d",
        "type": "ui_button",
        "z": "ddbbf6bb42548c8f",
        "name": "Turn ON Heater 5",
        "group": "04accf189f335271",
        "order": 11,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "ON",
        "tooltip": "",
        "color": "white",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 580,
        "wires": [
            [
                "68a6724cc97bc880"
            ]
        ]
    },
    {
        "id": "5230b8931b2ee31f",
        "type": "ui_button",
        "z": "ddbbf6bb42548c8f",
        "name": "Turn OFF heater 5",
        "group": "04accf189f335271",
        "order": 12,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "OFF",
        "tooltip": "",
        "color": "white",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 620,
        "wires": [
            [
                "68a6724cc97bc880"
            ]
        ]
    },
    {
        "id": "b7dcd3a67bab436f",
        "type": "ui_button",
        "z": "ddbbf6bb42548c8f",
        "name": "Turn OFF heater 6",
        "group": "5533b603824c0959",
        "order": 12,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "OFF",
        "tooltip": "",
        "color": "white",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 700,
        "wires": [
            [
                "eb9229c4f8244ad2"
            ]
        ]
    },
    {
        "id": "b446ac3b34ad78c8",
        "type": "ui_button",
        "z": "ddbbf6bb42548c8f",
        "name": "Turn ON Heater 6",
        "group": "5533b603824c0959",
        "order": 11,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "ON",
        "tooltip": "",
        "color": "white",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 660,
        "wires": [
            [
                "eb9229c4f8244ad2"
            ]
        ]
    },
    {
        "id": "46b64a7a5cab79e3",
        "type": "ui_text",
        "z": "ddbbf6bb42548c8f",
        "group": "357ad3e381ca0a52",
        "order": 6,
        "width": "6",
        "height": "1",
        "name": "Stat Heater 1",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 530,
        "y": 300,
        "wires": []
    },
    {
        "id": "b19fa4e462190c3b",
        "type": "ui_text",
        "z": "ddbbf6bb42548c8f",
        "group": "04accf189f335271",
        "order": 6,
        "width": "6",
        "height": "1",
        "name": "Stat Heater 2",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 530,
        "y": 360,
        "wires": []
    },
    {
        "id": "2f5693b2c6ecfd0c",
        "type": "ui_text",
        "z": "ddbbf6bb42548c8f",
        "group": "5533b603824c0959",
        "order": 6,
        "width": "6",
        "height": "1",
        "name": "Stat Heater 3",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 530,
        "y": 420,
        "wires": []
    },
    {
        "id": "12b57cba3138fdbe",
        "type": "ui_text",
        "z": "ddbbf6bb42548c8f",
        "group": "357ad3e381ca0a52",
        "order": 13,
        "width": "6",
        "height": "1",
        "name": "Stat Heater 4",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 530,
        "y": 520,
        "wires": []
    },
    {
        "id": "79d6f525ea750b99",
        "type": "ui_text",
        "z": "ddbbf6bb42548c8f",
        "group": "04accf189f335271",
        "order": 13,
        "width": "6",
        "height": "1",
        "name": "Stat Heater 5",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 510,
        "y": 600,
        "wires": []
    },
    {
        "id": "eb7e9970a113bcd2",
        "type": "ui_text",
        "z": "ddbbf6bb42548c8f",
        "group": "5533b603824c0959",
        "order": 13,
        "width": "6",
        "height": "1",
        "name": "Stat Heater 6",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 510,
        "y": 680,
        "wires": []
    },
    {
        "id": "8c35a6a9a283b62f",
        "type": "delay",
        "z": "ddbbf6bb42548c8f",
        "name": "GAJADI Delete Later",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "30",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 440,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "38c147ef8b9b716e",
        "type": "function",
        "z": "ddbbf6bb42548c8f",
        "name": "Config St1",
        "func": "flow.set(\"st1Min\", msg.payload.minTemp1);\nflow.set(\"st1Max\", msg.payload.maxTemp1);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "e71d048a7e8198e6",
        "type": "function",
        "z": "ddbbf6bb42548c8f",
        "name": "fgdfg",
        "func": "flow.set(\"st1\", \"\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "50b04df0d5d25931",
        "type": "inject",
        "z": "ddbbf6bb42548c8f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 780,
        "y": 500,
        "wires": [
            [
                "e71d048a7e8198e6"
            ]
        ]
    },
    {
        "id": "a0ed0249c6530a05",
        "type": "function",
        "z": "ddbbf6bb42548c8f",
        "name": "Config St2",
        "func": "flow.set(\"st2Min\", msg.payload.minTemp2);\nflow.set(\"st2Max\", msg.payload.maxTemp2);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "fa28c94dbc64b773",
        "type": "function",
        "z": "ddbbf6bb42548c8f",
        "name": "Config St3",
        "func": "flow.set(\"st3Min\", msg.payload.minTemp3);\nflow.set(\"st3Max\", msg.payload.maxTemp3);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "d1aaefcf9bc960c7",
        "type": "function",
        "z": "ddbbf6bb42548c8f",
        "name": "Config St4",
        "func": "flow.set(\"st4Min\", msg.payload.minTemp4);\nflow.set(\"st4Max\", msg.payload.maxTemp4);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "3092b457fedf68f5",
        "type": "function",
        "z": "ddbbf6bb42548c8f",
        "name": "Config St5",
        "func": "flow.set(\"st5Min\", msg.payload.minTemp5);\nflow.set(\"st5Max\", msg.payload.maxTemp5);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "5f61eff73e416ecb",
        "type": "function",
        "z": "ddbbf6bb42548c8f",
        "name": "Config St6",
        "func": "flow.set(\"st6Min\", msg.payload.minTemp6);\nflow.set(\"st6Max\", msg.payload.maxTemp6);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "75f9da8db9cc7cd0",
        "type": "ui_spacer",
        "z": "ddbbf6bb42548c8f",
        "name": "spacer",
        "group": "357ad3e381ca0a52",
        "order": 7,
        "width": "6",
        "height": "1"
    },
    {
        "id": "14124969deccd946",
        "type": "ui_spacer",
        "z": "ddbbf6bb42548c8f",
        "name": "spacer",
        "group": "04accf189f335271",
        "order": 7,
        "width": "6",
        "height": "1"
    },
    {
        "id": "d0d00cf3b0aa15b0",
        "type": "ui_spacer",
        "z": "ddbbf6bb42548c8f",
        "name": "spacer",
        "group": "5533b603824c0959",
        "order": 7,
        "width": "6",
        "height": "1"
    },
    {
        "id": "9f529cf8a2175817",
        "type": "mqtt-broker",
        "name": "Test Broker",
        "broker": "utilitydemo.colinn.id",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5533b603824c0959",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "da58e239018d3645",
        "order": 3,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "04accf189f335271",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "da58e239018d3645",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "357ad3e381ca0a52",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "da58e239018d3645",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "20ce7e720d3a27f2",
        "type": "MySQLdatabase",
        "name": "Sensbey_TempLog",
        "host": "host.docker.internal",
        "port": "3306",
        "db": "sensbey",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "4e9ce00bc81d3815",
        "type": "ui_group",
        "name": "Group 4",
        "tab": "da58e239018d3645",
        "order": 4,
        "disp": false,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2f3cf93878c09d49",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "875898a507f5fa38",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "da01e2b69ce1f8e9",
        "type": "ui_group",
        "name": "Group 4",
        "tab": "875898a507f5fa38",
        "order": 4,
        "disp": false,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "42da17ba8f24bbcb",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "875898a507f5fa38",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1344e9cb1ffc6b70",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "875898a507f5fa38",
        "order": 3,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "da58e239018d3645",
        "type": "ui_tab",
        "name": "パネル",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "875898a507f5fa38",
        "type": "ui_tab",
        "name": "調整",
        "icon": "settings",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]